
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

    /*@font-face {
        font-family: 'montserratbold';
        src: url('../fonts/montserrat-bold-webfont.woff') format('woff2'),
             url('../fonts/montserrat-bold-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    @font-face {
        font-family: 'montserratregular';
        src: url('../fonts/montserrat-regular-webfont.woff') format('woff2'),
             url('../fonts/montserrat-regular-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: #000;
    font: 400 14px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #000;
    transition: .3s;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main_banner {
    min-height: 100vh;
    background: url(../Images/main-banner.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.logo {
    font: 700 24px/36px 'Montserrat', Arial, Tahoma, sans-serif;
    color: #fff;
    letter-spacing: -0.6px;
}

.navigation a {
    color: #fff;
    font: 400 14px/24px 'Montserrat', Arial, Tahoma, sans-serif;
    padding: 5px 10.5px;
    transition: 0.3s;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation a:last-child {
    padding-right: 0;
}

.menu {
    padding-top: 2px;
}

.header-text-heading {
    color: #fff;
    font: 400 48px/48px 'Montserrat', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.header-text {
    color: #fff;
    font: 400 20px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
    padding: 40px 0 0;
    text-align: center;
}

.button {
    color: #fff;
    font: 400 16px/24px 'Montserrat', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    background-image: none; 
    background: transparent;
    width: 180px;
    height: 50px;
    border: #fff solid;
    border-radius: 3px;
    margin: 55px 0;
    position: relative;
}

.banner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18% 0;
}

.mobile-menu {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: none;
    background: url(../Images/menu.png) no-repeat 50%;
    background-size: 100%;
}

.section-heading {
    padding-top: 95px;
    text-align: center;
}

.heading {
    color: rgb(85, 85, 85);
    font: 400 20px/24px 'Montserrat', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.line {
    display: block;
    width: 55px;
    height: 2px;
    background: rgb(85, 85, 85);
    margin: 0 auto;
}

.heading-description {
    color: rgb(85, 85, 85);
    font: 400 16px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}

.colgroup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.col {
    width: 355px;
    margin: 15px;
    text-align: center;
}

.heading-icon {
    color: rgb(85, 85, 85);
    font: 400 14px/24px 'Montserrat', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
}

.description-col {
    color: rgb(85, 85, 85);
    font: 400 14px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
    text-align: center;
}


.gray-section {
    background-color: rgb(248, 248, 248);
}

.col1 {
    width: 49%;
    margin-right: 30px;
}

.col1 .description-col {
    text-align: left;
}

.swiper {
    padding-bottom: 100px;
}

.about .swiper-slide {
    text-align: center;
}

.about-img-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 0 15px;
}

.about-img-wrapper:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(85, 85, 85, 0.5);
    transition: .3s;
    z-index: -1;
}

.about-img-wrapper img {
    display: block;
    margin: 0 auto;
}

.about-img-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: .3s;
    z-index: 10;
}

.about-img-wrapper a {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.about-img-wrapper a:hover {
    background: #c0301c;
}

.swiper-slide:hover .about-img-wrapper:before {
    opacity: 1;
    z-index: 5;
}

.swiper-slide:hover .about-img-wrapper ul {
    bottom: 30px;
}

.about-name {
    color: rgb(85, 85, 85);
    font: 400 14px/24px 'Montserrat', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.about-position {
    color: rgb(85, 85, 85);
    font: 400 14px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
    text-align: center;
}
.swiper-button-next {
    right: 10px;
    left: auto;
    color: rgb(221, 221, 221);
    background: rgb(85, 85, 85);
    opacity: 0.2;
    width: 35px;
    height: 35px;
    right: 0;
    top: 35%;
}

.swiper-button-next:after {
   font-size: 14px;
}

.swiper-button-prev {
    right: 10px;
    left: auto;
    color: rgb(221, 221, 221);
    background: rgb(85, 85, 85);
    opacity: 0.2;
    width: 35px;
    height: 35px;
    left: 0;
    top: 35%;
}

.swiper-button-prev:after {
    font-size: 14px;
}

.swiper-button-next:hover {
    background: #c0301c;
    transition: .3s;
    opacity: 1;
}

.swiper-button-prev:hover {
    background: #c0301c;
    transition: .3s;
    opacity: 1;
}

#works .line {
    margin-bottom: 30px;
}

.tabs-nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-33 {
    width: 33.3%;
    min-width: 33.3%;
    padding: 15px;
}

.col-inner {
    position: relative;
}

.col-inner:hover .work-description {
    opacity: 1;
    z-index: 2;
}

.work-description {
    position: absolute;
    background-color: rgba(192, 48, 28, .7);
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: .3s;
}

.work-description h5 {
    font: 400 18px/24px 'Montserrat', Arial, Tahoma, sans-serif;
}

.work-category {
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 20px;
}

.work-button {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #c0301c;
    display: inline-block;
    background: #fff;
    padding: 5px 25px;
}

.tabs-item .col-inner img {
    display: block;
}

.tabs-nav li {
    padding: 0;
	list-style: none;
}    
.tabs-nav a {
	display: block;
	padding: 10px 14px; 
	font-size: 16px;
    line-height: 24px;
	text-decoration: none;
	text-align: center;
    color: #555;
}		

.tabs-nav a.active {
	color: #c0301c;
}    

.tabs-items {
    padding-top: 45px;
    padding-bottom: 100px;
}

.col-inner img {
    height: 320px;
    width: 360px;
}

#get-in-touch {
    background: url(../Images/getInTouchBackground.jpg) no-repeat 50% 50%;
    height: 370px;
}

.get-in-touch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.get-in-touch {
    font: 400 30px/44px 'Roboto Slab', 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
}

.caps {
    text-transform: uppercase;
}

#blog .heading-description {
    padding: 22px;
}

.post {
    display: flex;
    padding: 38px 0;
}

.post-image {
    flex-basis: 460px;
    flex-shrink: 0;
    margin-right: 40px;
    text-align: center;
}

.post-content {
    flex-grow: 1;
}

.post-header {
    display: flex;
    align-items: center;
    margin: 0 0 18px;
}

.post-date {
    width: 76px;
    height: 76px;
    flex-basis: 76px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid #555;
    margin-right: 25px;
    font-size: 24px;
    font-weight: 700;
    color: #777;
    text-align: center;
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
}

.post-month {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.post-title h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 5px;
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
}

.post-title h5 a:hover,
.post-author a:hover,
.post-link:hover {
    color: #c0301c;
}

.post + .post {
    border-top: 1px solid #ddd;
}

.post-author,
.post-author a {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.85;
    color: #777;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}

.post-content p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0 0 28px;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    color: #555
}

.post-link {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #777;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide-clients {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    z-index: 10;
    display: block;
}

.swiper-pagination-bullet {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-description {
    font: 400 18px/30px 'Roboto Slab', 'Times New Roman', Times, serif;
    color: rgb(85, 85, 85)
}

.clients-author {
    font: 400 20px/30px 'Roboto Slab', 'Times New Roman', Times, serif;
    color: rgb(85, 85, 85)
}
  
.swiper-pagination-bullet:hover {
    color: rgb(192, 48, 28);
}

@media (max-width:580px) {
    .col1 {
        font-size: 14px;
        padding-left: 30px;
        width: 100%;
        padding-bottom: 15px;
    }

    .col-33 {
        min-width: 90%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

@media (max-width:640px) {

    .mobile-menu {
        display: inline-block;
    }

    .navigation .container2 {
        text-align: center;
    }

    .navigation .menu {
        display: none;
        position: relative;
        top: 100%;
        width: 100%;
        left: 0;
        padding: 20px 15px;
        text-align: center;
        z-index: 10;
        background: transparent;
    }

    .navigation a {
        display: block;
        padding: 10px 15px;
    }

    .navigation {
        position: relative;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .col1 {
        padding-bottom: 15px;
    }
}


@media (max-width:700px) {

    .services {
        display: flex;
        flex-direction: column;
    }

    .colgroup {
        display: flex;
        flex-direction: column;
    }
    .col1 {
        padding-bottom: 15px;
    }
}

@media (max-width:750px) {

    .col-33 {
        width: 50%;
        align-items: center;
        justify-content: center;
    }

@media (max-width:940px) {
    .post-image {
        flex-basis: 340px;
        margin-right: 20px;
    }

    .post-date {
        height: 65px;
        width: 65px;
        flex-basis: 65px;
        font-size: 20px;
        line-height: 1.25;
        margin-right: 20px;
    }

    .post-month {
        font-size: 14px;
    }

    .post-header {
        margin-bottom: 0 0 15px;
    }

    .post-content p {
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 0 0 15px;
    }

@media (max-width:768px) {
    .post {
        flex-direction: column;
    }

    .post-image {
        flex-basis: auto;
        margin: 0 0 15px;
    }

    .post-header {
        justify-content: center;
    }

    .post-content {
        text-align: justify;
    }
}

@media (max-width:320px) {   
.post-title h5,
    .post-author {
        line-height: 1.5;
    }
}


